<%= form_with(model: song, local: true) do |form| %>



<div class="field">
  <%= form.label :name %>
  <%= form.text_field :tname, id: :song_name %>
</div>

<div class="field">
  <%= form.label :created %>
  <%= form.check_box :created, id: :song_created %>
</div>

<div class="actions">
  <%= form.submit %>
</div>
<% end %>
