
<div class="panel panel-primary">

<h3> <%=@artist.name%></h3>

<h4> Age:<%= @artist.age %> </h4>
<h4> Country: <%= @artist.country  %></h4>
<h4> Style: <%= @artist.style %></h4>
 <%= link_to "More info",   href="http://www.andreabocelli.com/", :target => "_blank"%>





<div class="img-circle" alt="Cinque Terre">
<% @artist.photos.each do |photo| %>
 <div class="panel-heading">
  <%= image_tag photo.image.thumbnail %>
  </div>
</div>
  <%end%>

  <h1>All Time Hits <%=@artist.name%></h1>

  <%@artist.songs.each do |song| %>
  <p>
    <%= link_to song.name, artist_song_path(@artist, song)%>

  </p>
    <%end%>
    <%= link_to "Add new song", new_artist_song_path(@artist), class: "btn btn-default" %>

    <%= link_to "Remove an artist", artist_path(@artist), class: "btn btn-default", method: :delete, data: { confirm: "Really? Dont do that!" } %>
