<h4><li class="sidebar-item"><%= link_to "Artists Overview", artists_path, class: "sidebar-link" %></li>
</h4>
<div class="panel panel-primary">

<h3> <%=@artist.name%></h3>

<h4> Age:<%= @artist.age %> </h4>
<h4> Country: <%= @artist.country  %></h4>
<h4> Style: <%= @artist.style %></h4>
</div>





<div class="img-circle" alt="Cinque Terre">
<% @artist.photos.each do |photo| %>
 <div class="panel-heading">
  <%= image_tag photo.image.thumbnail %>
  </div>
</div>
  <%end%>

  <div class="progress-bar", role="progressbar" aria-valuenow="3"
  aria-valuemin="1" aria-valuemax="100" style="width:100%">

    <span class="sr-only"> </span><h2>All Time Hits</h2>

</div>

<div> <%@artist.songs.each do |song| %>


    <h3>  <%= link_to song.name, artist_song_path(@artist, song)%></h3>

    <h5><%= link_to "Delete song", artist_song_path(@artist, song), class: "btn btn-default", method: :delete, data: { confirm: "Are you sure?" }%>
</h5>
</div>


<%end%>

    <%= link_to "Add new song", new_artist_song_path(@artist), class: "btn btn-success" %>

    <%= link_to "Delete an artist", artist_path(@artist), class: "btn btn-default", method: :delete, data: { confirm: "Really? Dont do that!" } %>
