<body>

<h4><li class="sidebar-item"><%= link_to "Artists Overview", artists_path, class: "sidebar-link" %></li>
</h4>
<div class="panel panel-primary">
  <div class="img-circle" alt="Cinque Terre">
  <% @artist.photos.each do |photo| %>
   <div class="panel-heading">
    <%= image_tag photo.image.thumbnail %>
    </div>
<%end%>
</div>

 <table>
<%= render "artists/form",  song: @songs %>
</table>


<div> <%@artist.songs.each do |song| %>
    <h3>  <%=  song.name%></h3>
    <!-- <h5><%= link_to "Delete song", artist_song_path(@artist, song), class: "btn btn-default", method: :delete, data: { confirm: "Are you sure?" }%>
</h5> -->
  <%end%>

</div>
<div class="alert alert-info"><strong>!</strong>
  <div class="footer">
    Song: <span id="song-count">1</span> •
    Done: <span id="completed-count">0</span> •
    Total: <span id="total-count">1</span> •
    <a href="#" id="clean-up">Clean up</a>
  </div>



<tr class="song <%= @song.created? ? "success" : "" %>" data-id="<%= @song.id %>">
  <td>
    <input name="song[<%= @song.id %>]" id="song-<%= @song.id %>" type="checkbox" value="1" <%= @song.created? ? 'checked="checked"' : '' %>>
  </td>
  <td>
    <label for="song-<%= @song.id %>"><%= @song.name %></label>
  </td>
</tr>
  </body>
